<mat-toolbar color="primary">Todos</mat-toolbar>
<app-todo-entry></app-todo-entry>
<mat-card>
    <mat-card-title>My Todo List</mat-card-title>
    <mat-card-content>
        <mat-list>
            <ng-container *ngFor="let todo of todos; let last=last">
                <mat-list-item>
                    <p>{{todo.text}}</p>
                    <button mat-button (click)="delete(todo.id)">DELETE</button>
                </mat-list-item>
                <mat-divider *ngIf="!last"></mat-divider>
            </ng-container>
        </mat-list>
    </mat-card-content>
</mat-card>
